
*.manifest
*.dll
*.exe
*.pdb
*.xml
*.CopyComplete
AML/obj/Debug/AML.csproj.FileListAbsolute.txt
*.cache
AML/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
.vs/AML/v15/.suo
.vs/AML/v15/Server/sqlite3/storage.ide-shm
AML/obj/Debug/*